html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #141414;
}
.app {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #141414;
}

a {
  color: inherit;
  text-decoration: none;
}
.card {
  background-color: rgba(156, 156, 156, 0.9);
}
.nav-link .nav-item:hover {
  transition: ease-in;
  color: white;
  border-bottom: 100%;
}

* {
  box-sizing: border-box;
}

.navbar {
  background-color: rgba(20, 21, 21, 1);
}

.project-div {
  height: 100px;
  width: 80%;
}

.project-image {
  height: 100px;
  width: 100px;
  border-radius: 5px;
}
.project-image :hover {
  transform: scale(1.1, 1.1);
}
.card-body {
  border-radius: 5px;
}
.list-item {
  list-style: none;
}
.footer {
}

.list-btn {
  width: 50%;
}
.tech-img {
  height: 100px;
  width: 100px;
}
.list-btn :hover {
  transform: scale(1.1, 1.1);
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
