body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  background-color: #141414;
}
.app {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

.about-me {
}
.body-div {
  background-image: url("../assets/images/dark-pattern.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.body-container {
  margin-bottom: 15%;
  margin-top: 5%;
  padding-bottom: 10%;
}
.nav-link .nav-item:hover {
  transition: ease-in;
  color: white;
  border-bottom: 100%;
}

* {
  box-sizing: border-box;
}
.project-body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}
.data-div {
  height: 100px;
  width: 80%;
}

.project-div {
  height: 100px;
  width: 80%;
}

.project-image {
  height: 300px;
  width: 100%;
  border-radius: 5px;
  transition: 0.5s ease-in-out;
}

.project-image:hover {
  transform: scale(1.1, 1.1);
}
.tech-img {
  height: 75px;
  width: 75px;
  transition: 0.5s ease-in-out;
}
.tech-img:hover {
  transform: scale(1.5, 1.5);
}
.card-body {
  border-radius: 5px;
}
.list-item {
  list-style: none;
}
.footer {
  width: 100%;
  height: 100%;
  background-color: rgba(245, 245, 245, 1);
}

.list-btn {
  width: 50%;
}
s .list-btn :hover {
  transform: scale(1.1, 1.1);
}

.tech-container {
}
/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
} */
